<!DOCTYPE html>
<html>
<head>
	<title>Page Forbidden</title>
	<link rel="stylesheet" href="http://35.239.93.234:8080/css/404.css">
	<link href='http://35.239.93.234:8080/css/font.css' rel='stylesheet' type='text/css'>
  <link rel="icon" href="http://35.239.93.234:8080/favicon.png" type="image/png">
</head>
<body class="back">
	<div class="main">
		<br><br><br><br><br><br>
		<h1> ERROR 403</h1>
		<h3>Sorry! The page you are looking for is forbidden</h3>
		<a href="{{ url_for('start') }}" class="back">BACK TO HOME</a>
	</div>
</body>
</html>
