<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>VideoHub</title>
  <link rel="stylesheet" href="http://35.239.93.234:8080/css/reset-min.css">
  <link rel='stylesheet prefetch' href='http://35.239.93.234:8080/css/roboto.css'>
  <link rel='stylesheet prefetch' href='http://35.239.93.234:8080/css/monsterrat.css'>
  <link rel='stylesheet prefetch' href='http://35.239.93.234:8080/css/font-awesome.css'>
  <link rel="stylesheet" href="http://35.239.93.234:8080/css/style.css">
  <link rel="stylesheet" href="http://35.239.93.234:8080/css/alert.css">
  <link rel="icon" href="http://35.239.93.234:8080/favicon.png" type="image/png">
</head>

<body>
    <div class="container">
      <div class="info">
        <h1 style="color:#16A085;">VideoHub</h1>
      </div>
    </div>
    <div class="form">
      <form class="login-form" action="add-admin" method="post">
        {% if nameError %}
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Username already present
          </div>
        {% endif %}
        {% if passError %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Invalid administrator credentials
        </div>
        {% endif %}
        <h3 style="color:#FFFFFF;">Exisiting administrator credentials</h3><br>
        <input type="password" name="admin_password" placeholder="your password" required autofocus/>
        <br><h3 style="color:#FFFFFF">New administrator credentials</h3><br>
        <input type="text" name="new_username" placeholder="new username" required/>
        <input type="password" name="new_password" placeholder="new password" required/>
        <button>add administrator</button>
      </form>
    </div>
</body>
</html>
