<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flagged Videos</title>
    <link rel="stylesheet" href="http://35.239.93.234:8080/css/bootstrap-min-337.css">
    <link rel="stylesheet" href="http://35.239.93.234:8080/css/home.css">
    <link rel="icon" href="http://35.239.93.234:8080/favicon.png" type="image/png">
  </head>
  <body class="back">
    <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <a style="color: #16A085;" class="navbar-brand" href="{{ url_for('start') }}">VideoHub</a>
       </div>
       <ul class="nav navbar-nav navbar-right">
         <li><a style="color: #16A085;" href="{{ url_for('dashboard') }}">Dashboard</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('add_admin') }}">Add Administrator</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('admin_list_users') }}">User List</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('logout_user') }}">Logout</a></li>
     </ul>
     </div>
    </nav>
    <br><br><br>
    {% if not flagged_videos %}
    <br><br><br><br><br>
    <h1 style="color:#16A085; text-align:center;">There are no flagged videos</h1>
    {% endif %}
    {% if flagged_videos %}
    <h2 style="color:#16A085; text-align:center;">List of flagged videos</h2>
    <br><br>
    <div class="container">
    {% for i in flagged_videos %}
     <div class="row">
       <div class="row">
           <div class="col-xs-12 col-sm-3 col-md-3">
              <a href="{{ url_for('watch_video', v = i) }}">
                 <img height="152" width="270" src="http://35.239.93.234:8080/image/{{ i }}" class="img-responsive">
               </a>
           </div>
           <h4><a style="color:#16A085;text-decoration:none;" href="{{ url_for('admin_review_video', v = i) }}">{{ flagged_videos[i][0] }}</a></h4>
           <div class="col-xs-12 col-sm-9 col-md-9">
               <div class="list-group">
                   <div class="list-group-item">
                       <div class="row-content">
                         <div class="list-group-item-heading">
                             <p style="color:#FFFFFF;">
                                 <small>Uploaded by {{ flagged_videos[i][2] }}</small>
                             </p>
                             <p style="color:#FFFFFF;">
                                 <small>Flagged by {{ flagged_videos[i][3] }}</small>
                             </p>
                         </div>
                         <div class="list-group-item-heading">
                             <p style="color:#FFFFFF;">
                               {% if flagged_videos[i][1] == "1" %}
                               <small>1 view</small>
                               {% endif %}
                               {% if flagged_videos[i][1] != "1" %}
                               <small>{{ flagged_videos[i][1] }} views</small>
                               {% endif %}
                             </p>
                         </div>
                       </div>
                       <a style="color:#16A085;text-decoration:none;" href="{{ url_for('admin_delete_video', video_ID = i) }}">Delete video</a>
                   </div>
               </div>
           </div>
        </div>
      <hr>
    </div>
    {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
