<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="http://35.239.93.234:8080/css/reset-min.css">
  <link rel='stylesheet prefetch' href='http://35.239.93.234:8080/css/roboto.css'>
  <link rel='stylesheet prefetch' href='http://35.239.93.234:8080/css/monsterrat.css'>
  <link rel='stylesheet prefetch' href='http://35.239.93.234:8080/css/font-awesome.css'>
  <link rel="stylesheet" href="http://35.239.93.234:8080/css/style.css">
  <link rel="stylesheet" href="http://35.239.93.234:8080/css/alert.css">
  <link rel="icon" href="http://35.239.93.234:8080/favicon.png" type="image/png">
</head>

<body>
    <div class="container">
      <div class="info">
        <h1 style="color:#16A085;">Re-enter old password and new password</h1>
      </div>
    </div>
    <div class="form">
      <form class="login-form" action="change-password" method="post">
        {% if update_error %}
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Old password does not match
          </div>
        {% endif %}
        <input type="password" name="oldPassword" placeholder="old password" required autofocus/>
        <input type="password" name="newPassword" placeholder="new password" required/>
        <button>update</button>
      </form>
    </div>
</body>
</html>
