<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>VideoHub</title>
  <link rel="stylesheet" href="http://35.239.93.234:8080/css/reset-min.css">
  <link rel='stylesheet prefetch' href='http://35.239.93.234:8080/css/roboto.css'>
  <link rel='stylesheet prefetch' href='http://35.239.93.234:8080/css/monsterrat.css'>
  <link rel='stylesheet prefetch' href='http://35.239.93.234:8080/css/font-awesome.css'>
  <link rel="stylesheet" href="http://35.239.93.234:8080/css/style.css">
  <link rel="stylesheet" href="http://35.239.93.234:8080/css/alert.css">
  <link rel="icon" href="http://35.239.93.234:8080/favicon.png" type="image/png">
</head>

<body>
    <div class="container">
      <div class="info">
        <h1 style="color:#16A085;">VideoHub</h1>
      </div>
    </div>
    <div class="form">
      <form class="login-form" action="signup" method="post">
        {% if signupError %}
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Username already present
          </div>
        {% endif %}
        <input type="text" name="username" placeholder="username" required autofocus/>
        <input type="password" name="password" placeholder="password" required/>
        <button>create</button>
        <p class="message">Already registered? <a href="{{ url_for('login_form') }}">Login to account</a></p>
      </form>
    </div>
</body>
</html>
