<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="http://35.239.93.234:8080/css/bootstrap-min-337.css">
    <link rel="stylesheet" href="http://35.239.93.234:8080/css/video.css">
    <link rel="stylesheet" href="http://35.239.93.234:8080/css/home.css">
    <link rel="icon" href="http://35.239.93.234:8080/favicon.png" type="image/png">
  </head>
  <body class="back">
    <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <a style="color: #16A085;" class="navbar-brand" href="{{ url_for('start') }}">VideoHub</a>
       </div>
       <form class="ml navbar-form navbar-left" action="search" method="post">
          <div class="form-group">
            <input style="width:500px;" name="search" type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="bt btn btn-default">Submit</button>
       </form>
       <ul class="nav navbar-nav navbar-right">
         <li><a style="color: #16A085;" href="{{ url_for('random_video') }}">Random</a></li>
       {% if not logged_in %}
         <li><a style="color: #16A085;" href="{{ url_for('signup_form') }}">Sign Up</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('login_form') }}">Login</a></li>
       {% endif %}
       {% if logged_in %}
         <li><a style="color: #16A085;" href="{{ url_for('dashboard') }}">Dashboard</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('favourites') }}">Favourites</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('upload_form') }}">Upload</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('my_videos') }}">My videos</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('watched_videos') }}">Watched</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('logout_user') }}">Logout</a></li>
       {% endif %}
     </ul>
     </div>
    </nav>
    <br><br><br>
    <h1 align="center" class="heading1">{{ title }}</h1>
    <video class="center" controls autoplay style="position:center;">
      <source src="http://35.239.93.234:8080/video/{{ video_ID }}" type="video/mp4">
      Your broswer doesn't support this format.
    </video>
    <br>
    <p style="text-align:center; color:#FFFFFF; font-size:22px;">Uploaded by <a style="color:#16A085; font-size:22px; text-decoration:none;" href="/user/{{ uploader }}">{{ uploader }}</a></p>
    <br>
    <p style="text-align:center; color:#FFFFFF; font-size:19px;">Uploaded on {{ vid_upload_date }}</p>
    <br>
    {% if views == "1" %}
    <p style="text-align:center; color:#FFFFFF; font-size:19px;">{{ views }} view</p>
    {% endif %}
    {% if views != "1" %}
    <p style="text-align:center; color:#FFFFFF; font-size:19px;">{{ views }} views</p>
    {% endif %}
    {% if logged_in %}
    {% if not username == uploader %}
    <br>
    <div style="text-align: center;">
      <a style="font-size: 18px; color:#16A085; text-decoration: none;" href="{{ url_for('flag_video', v = video_ID) }}">Flag video</a>
    </div>
    {% endif %}
    {% endif %}
    <br><br><br>
    <p style="padding-left:175px; color:#FFFFFF; font-size:25px;">More videos to watch</p><br>
    <div class="container">
    {% for i in random_vids %}
     <div class="row">
       <div class="row">
           <div class="col-xs-12 col-sm-3 col-md-3">
              <a href="{{ url_for('watch_video', v = i) }}">
                 <img height="152" width="270" src="http://35.239.93.234:8080/image/{{ i }}" class="img-responsive">
               </a>
           </div>
           <h4><a style="color:#16A085;text-decoration:none;" href="{{ url_for('watch_video', v = i) }}">{{ random_vids[i][0] }}</a></h4>
           <div class="col-xs-12 col-sm-9 col-md-9">
               <div class="list-group">
                   <div class="list-group-item">
                       <div class="row-content">
                           <div class="list-group-item-heading">
                               <p style="color:#FFFFFF;">
                                 {% if random_vids[i][1] == "1" %}
                                 <small>{{ random_vids[i][1] }} view</small>
                                 {% endif %}
                                 {% if random_vids[i][1] != "1" %}
                                 <small>{{ random_vids[i][1] }} views</small>
                                 {% endif %}
                               </p>
                           </div>
                           <div class="list-group-item-heading">
                               <p style="color:#FFFFFF;">
                                   <small>Uploaded by <a style="color:#16A085;text-decoration:none;" href="/user/{{ random_vids[i][2] }}">{{ random_vids[i][2] }}</a></small>
                               </p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
      <hr>
    </div>
    {% endfor %}
    </div>
  </body>
</html>
