<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ search }}</title>
    <link rel="stylesheet" href="http://35.239.93.234:8080/css/bootstrap-min-337.css">
    <link rel="stylesheet" href="http://35.239.93.234:8080/css/home.css">
    <link rel="icon" href="http://35.239.93.234:8080/favicon.png" type="image/png">
  </head>
  <body class="back">
    <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <a style="color: #16A085;" class="navbar-brand" href="{{ url_for('start') }}">VideoHub</a>
       </div>
       <form class="ml navbar-form navbar-left" action="search" method="post">
          <div class="form-group">
            <input style="width:500px;" name="search" type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="bt btn btn-default">Submit</button>
       </form>
       <ul class="nav navbar-nav navbar-right">
         <li><a style="color: #16A085;" href="{{ url_for('random_video') }}">Random</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('dashboard') }}">Dashboard</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('favourites') }}">Favourites</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('upload_form') }}">Upload</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('my_videos') }}">My videos</a></li>
         <li><a style="color: #16A085;" href="{{ url_for('logout_user') }}">Logout</a></li>
       </ul>
     </div>
    </nav>
    <br><br><br>
    {% if not watched %}
    <br><br><br><br><br>
    <h1 style="color:#16A085; text-align:center;">You haven't watched anything yet</h1>
    {% endif %}
    <div class="container">
    {% for i in watched %}
     <div class="row">
       <div class="row">
           <div class="col-xs-12 col-sm-3 col-md-3">
              <a href="{{ url_for('watch_video', v = i) }}">
                 <img height="152" width="270" src="http://35.239.93.234:8080/image/{{ i }}" class="img-responsive">
               </a>
           </div>
           <h4><a style="color:#16A085;text-decoration:none;" href="{{ url_for('watch_video', v = i) }}">{{ watched[i][0] }}</a></h4>
           <div class="col-xs-12 col-sm-9 col-md-9">
               <div class="list-group">
                   <div class="list-group-item">
                       <div class="row-content">
                         <div class="list-group-item-heading">
                             <p style="color:#FFFFFF;">
                                 <small>Uploaded by <a style="color:#16A085;text-decoration:none;" href="/user/{{ watched[i][2] }}">{{ watched[i][2] }}</a></small>
                             </p>
                         </div>
                         <div class="list-group-item-heading">
                             <p style="color:#FFFFFF;">
                               {% if watched[i][1] == "1" %}
                               <small>{{ watched[i][1] }} view</small>
                               {% endif %}
                               {% if watched[i][1] != "1" %}
                               <small>{{ watched[i][1] }} views</small>
                               {% endif %}
                             </p>
                         </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
      <hr>
    </div>
    {% endfor %}
    </div>
  </body>
</html>
